
@{
  ViewBag.Title = "Simple Web Calendar";
  Layout = "~/Views/Shared/_Layout.cshtml";

  DateTime target = new DateTime(Model.year, Model.month, 1);
  DateTime prevMonth = target.AddMonths(-1);
  DateTime nextMonth = target.AddMonths(1);
}

<h2>@target.ToString("yyyy. M")</h2>

<div id="prev">
  <a href="/SimpleWebCalendar/@prevMonth.ToString("yyyy")/@prevMonth.ToString("MM")">&lt;&lt; @prevMonth.ToString("yyyy/M")</a>
</div>

<table id="calendar">
  <thead>
    <tr>
      @foreach (string weekDay in Model.WeekDays)
      {
        <td>@weekDay</td>
      }
    </tr>
  </thead>

  <tbody>
    @foreach (var week in Model.WeekAndDayList)
    {
      <tr>
        @foreach (DateTime date in week)
        {
          if (date.Month == Model.month)
          {
            <td>@date.Day</td>
          }
          else
          {
            <td style="color: #ccc;">@date.Day</td>
          }
        }
      </tr>
    }
  </tbody>
</table>

<div id="next">
  <a href="/SimpleWebCalendar/@nextMonth.ToString("yyyy")/@nextMonth.ToString("MM")">@nextMonth.ToString("yyyy/M") &gt;&gt;</a>
</div>
